<form action="~/Views/Cats/Create.cshtml" method="post">
    Name: <input type="text" name="Name" /> <br/>
    Age: <input type="text" name="Age" /> <br/>
    <input type="submit" value="Save" />
</form>
